@import './common/variables.scss';
@import './common/mixins.scss';

.home {
  font-size: 40px;
  width: 750px;
  .main {
    float: left;
    height: 600px;
    width: 550px;
  }
  .right {
    @mixin clear-fix;
    width: 100px;
    height: 600px;
    background: $sky;
    float: left;
  }
  .left-sidebar {
    width: 100px;
    height: 600px;
    background: $sky;
    float: left;
  }
}
