* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  line-height: 1;
  user-select: none;
}

/**
 * 弹性滚动
 */
html,
body {
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent;
  &:focus,
  &:active,
  &:hover,
  &:hover {
    color: inherit;
    outline: none;
  }
}

/*去除浏览器输入框轮廓*/
input,
button,
textarea {
  color: inherit;
  outline: none;
}

i {
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

svg {
  display: block;
}

ul,
li,
ol {
  list-style: none;
}
