*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
	line-height: 1;
	user-select: none;
  -webkit-touch-callout: none;
}

/**
 * 弹性滚动
 */
html, body {
	-webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
	background: transparent;
}

/*去除浏览器输入框轮廓*/
a:focus, a:active, a:hover, a:visited, input, button, textarea {
  color: inherit;
	outline: none;
}

a, img, button {
	-webkit-touch-callout: none;
}

i {
	font-style: normal;
}

img {
	width: 100%;
	max-width: 100%;
}

svg {
	display: block;
}

ul, li, ol {
	list-style: none;
}
